
body {
    font-family: Arial;
    font-size: 12px;
    color: #666;
}
header, footer {
    background-color: #f7f7f7;
    text-align: center;
    margin-bottom: 20px;
}
button {
    color: #5f91f8;
    border: 1px #5f91f8 solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    background-color: #fff;
}
.b {
    font-weight: bold;
}
.pad10 {
    padding: 10px;
}
.marbot10 {
    margin: 10px;
}
.padmadtop0 {
    padding-top: 0px;
    margin-top: 0px;
}
.lgrey {
    color: #999;
}
.l2grey {
    color: #555;
}
.container {
    display: flex;
    flex-direction: column;
}

.container__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
}

.container__content {
    /* Take the remaining width */
    flex: 2;
}

.container__right {
    flex: 1;
    justify-content:flex-start;
}

.content_title {
    font-weight: bold;
}

.container__content .item {
    display: flex;
    flex-direction: row;
}
.container__content .item .content_img {
    flex: 1;
}
.container__content .item .content {
    flex: 3;
}

@media (max-width: 800px) {
    .container__main {
      flex-direction: column;
    }
  }
@media (max-width: 600px) {
    .container__main {
      flex-direction: column;
    }
    .container__content .item {
        flex-direction: column;
    }
    .container__content .item .content_img {
        text-align: center;
        padding-bottom: 10px;
    }
    .container__content .item .content_img img {
        height: 150px;
        width: 200px;
    }
  }